<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>ITC Group || About</title>
<link rel="icon" href="assets/images/logo/favicon.png" type="image/png">
<link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css" />

</head>
<body class="about-page">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="SPV5FNQ3">
    </script>
<!--<div class="page-loader-wrapper page-loader-wrapper-1">
		<div class="loader">
			<div class="stick1"></div>
			<div class="stick2"></div>
			<div class="stick3"></div>
			<div class="stick4"></div>
        &lt;!&ndash;loader&ndash;&gt;
		</div>
    &lt;!&ndash;page-loader-wrapper&ndash;&gt;
	</div>-->
<!--=====================================--> 
<!--============ Navigation =============--> 
<!--=====================================-->
<div class="greyBg header-con col-lg-12 col-md-12 col-sm-12 col-xs-12" id="headerCon">
  <div class="container">
    <div class="row">
      <aside class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo pull-left"><a href="index.html"><img src="assets/images/logo/logo.png" alt="logo" /></a></div>
		        <div class="clearfix showmb"></div>
        <nav class="navbar navbar-default pull-right">
          <div class="container-fluid">
            <div class="row"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!--navbar-header--> 
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
			          <div class="clearfix showmb"></div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="row">
                  <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="about.html">About us</a></li>
                    <li><a href="services.html">Services</a></li>

                    <li><a href="projects.html">Projects</a></li>
                      <li>
                          <a href="blogpost.html">Blogues</a>
                      </li>


                      <li>
                          <a href="contact.html">Contact</a>
                      </li>
                  </ul>
                  <!--row--> 
                </div>
                <!--collapse--> 
              </div>
              <!--row--> 
            </div>
            <!--container-fluid--> 
          </div>
          <!--navbar--> 
        </nav>
        <!--header--> 
      </aside>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--greyBg--> 
</div>
<!--=====================================--> 
<!--============== Banner ===============--> 
<!--=====================================-->
<div class="main-contentbox">
  <div class="sub-banner-con darkBlueBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="sub-banner-text darkBlueBg regular-font col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
              <h1>about us</h1>
              <p>We are 100% dedicated to customer satisfaction and relationship built on trust</p>
            </div>
            <!--sub-banner-text-->
          </div>
          <!--row--> 
        </div>
        <!--container--> 
      </div>
      <div class="sub-banner-img subbannerabout col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img src="assets/images/banners/about-banner.jpg">
      </div>
      <!--row--> 
    </div>
    <!--col-lg-12--> 
  </div>
  <!--=====================================--> 
  <!--========= Bringing new look =========--> 
  <!--=====================================-->
  <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <div class="row">
        <div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="logo-background company-graph">
            <figure><img src="assets/images/logo/company-graph.png" alt="company-graph"/></figure>
            <!--logo-background--> 
          </div>
          <!--text-center--> 
        </div>
        <div class="business-box no-margin-top col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h2 class="black-font">our company</h2>
          <p>ITC Group is an IT consulting firm founded in 2008. Since then, its client list has expanded to include a large number of private companies, as well as NGOs and public organizations. We have created a highly effective center of skills and expertise covering various domains in the technology world. Our staff members have the capabilities and resources to deal with very specific issues and highly specialized cases.</p>
          <p class="blue-color regular-font">Our mission is to empower our customers so they can realize their IT projects. A multidisciplinary team of consultants enables clients to benefit from a holistic approach to IT project management. From strategy to operational application and follow-ups, our clients experience a really close relationship and personalized support to ensure the success of their companies and their IT projects.</p>
          <ul>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Computer network implementation and maintenance;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Security and surveillance Systems for offices and vehicles;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Translation and video conference systems;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Satellite television systems setup;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Solar Energy system implementation;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Database setup and management;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Websites and software programing;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;">Seminars on integrated management software packages;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;"> Translation & Interpration Services;</li>
            <li style="background: url(assets/images/icons/li-icon.png) no-repeat left 7px;"> Technical support services; And many others…</li>
          </ul>
          <!--business-box--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>
  <!--=====================================--> 
  <!--============ Who We Are =============--> 
  <!--=====================================-->
  <div class="pattern col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#000000;">
    <div class="container">
      <div class="row">
        <div class="who-we-are pull-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div>
            <h2>ABOUT THE FOUNDER</h2>
            <p>Jean Samuel Jules (CEO)</p>
            <div class="transparent-btn pull-left"><a href="blog-post.html">More</a></div>
          </div>
          <!--who-we-are--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <div class="who-we-are-img"><img src="assets/images/services/who-we-are-img.png" alt="who-we-are-img" /></div>
    <!--pattern--> 
  </div>
  <!--=====================================--> 
  <!--========= Meet our Advisors =========--> 
  <!--=====================================-->
  <div class="greyBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <div class="row text-center">
        <h2>Meet Our Advisors</h2>
        <p class="regular-font">Our team is made up of people passionate about technology and business management. Indeed, a wide range of skills and expertise is needed to provide the best solution to our clients in all areas of Information Technology and consulting.</p>
        <div class="spacer"></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="advisor-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <figure class="advisor-img1"><img alt="advisor-img1" src="assets/images/services/advisor-img1.png"></figure>
            <div class="advisor-info text-right">
              <h3>Jean<br>Samuel<br>Jules<span><hr>Chief Advisor<br>CEO</span></h3>
              <!--
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              advisor-info--> 
            </div>
            <div class="social-icons">
               <ul>
                <li><a href="https://web.facebook.com/jsjulessam/" class="fa fa-facebook"></a></li>
                <li><a href="https://twitter.com/jsjulessam" class="fa fa-twitter"></a></li>
                <!--// <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li> //-->
              </ul>
              <!--social-icons--> 
            </div>
            <!--advisor-box--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="advisor-box col-lg-12 col-md-12 col-sm-12 col-xs-12 active">
            <figure class="advisor-img2"><img alt="advisor-img2" src="images/advisor-img2.png"></figure>
            <div class="advisor-info text-right">
              <h3>Valerie<span><hr>Chief Advisor</span></h3>
              <!--
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              advisor-info--> 
            </div>
            <div class="social-icons">
              <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <!--// <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li> -->
              </ul>
              <!--social-icons--> 
            </div>
            <!--advisor-box--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="advisor-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <figure class="advisor-img3"><img alt="advisor-img3" src="images/advisor-img3.png"></figure>
            <div class="advisor-info text-right">
              <h3>Cassy <span><hr>Chief Advisor</span></h3>
              <!--
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              advisor-info--> 
            </div>
            <div class="social-icons">
              <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <!-- //<li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li> -->
              </ul>
              <!--social-icons--> 
            </div>
            <!--advisor-box--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="advisor-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <figure class="advisor-img4"><img alt="advisor-img4" src="images/advisor-img4.png"></figure>
            <div class="advisor-info text-right">
              <h3>NewOne <span><hr>Chief Advisor</span></h3>
              <!--
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              advisor-info--> 
            </div>
            <div class="social-icons">
               <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <!--// <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li> -->
              </ul>
              <!--social-icons--> 
            </div>
            <!--advisor-box--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--greyBg--> 
  </div>



  <!--=====================================--> 
  <!--============== Footer ===============--> 
  <!--=====================================-->
  <div class="darkBlueBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="row">
            <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <aside class="newsletter col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h5>newsletter</h5>
                    <div class="form-group pull-left">
                        <input type="email" class="form-control" placeholder="Enter your email" name="letter-email" id="letter-email">
                    </div>
                    <button type="submit" class="btn btn-default pull-left">Go</button>
                    <div class="clearfix"></div>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i> 17, Plaza 41, rue Lamarre, Pétion-Ville
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> +509 3711.5990
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> 
                            <a href="mailto:info@fcgroup.com">info@itcgrouphaiti.com</a>
                        </li>
                    </ul>
                    <!--newsletter-->                     
                </aside>
                <aside class="sitemap col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <h5>partnership</h5>
                    <ul>
                        <li>
                            <a href="https://www.ntpsams.com/" target="blank">NTPsams Technology</a>
                        </li>
                        <li>
                            <a href="https://raphaeltech.com/" target="blank">Rapahel Tech</a>
                        </li>
                        <li>
                            <a href="#">ITC call center</a>
                        </li>
                        <li>
                            <a href="https://samsfotografi.com" target="blank">Sam fotografi</a>
                        </li>
                        <li>
                            <a href="#">Event pa'm</a>
                        </li>
                        <li>
                            <a href="https://ayitekcorp.com/" target="blank">AyiTek</a>
                        </li>
                    </ul>
                    <!--sitemap-->                     
                </aside>
                <aside class="twitter-feeds col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="fb-page" data-href="https://web.facebook.com/pg/itcgrouphaiti" data-tabs="timeline" data-width="" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://web.facebook.com/pg/itcgrouphaiti" class="fb-xfbml-parse-ignore"><a href="https://web.facebook.com/pg/itcgrouphaiti">Facebook</a></blockquote></div>  
                  <!--//
                    <h5>Facebook Feeds</h5>
                    <ul>
                        <li>
                            <i class="fa fa-facebook"></i> 
                            <a href="#">Jean Samuel Jules CEO at www.ntpsams.com and developer Lionel W. Andre Pierreonel from jacmel at Haitinumerique conference ...<span class="tweet-link">https://facebook.com/itcgrouphaiti</span><span class="tweet-date">October , 18, 2017</span></a>
                        </li>
                        <li>
                            <i class="fa fa-facebook"></i> 
                            <a href="#">Go confidently in the direction of your dreams. Live the life you've imagined ...<span class="tweet-link">https://facebook.com/itcgrouphaiti</span><span class="tweet-date">May , 14, 2014</span></a>
                        </li>
                    </ul>
                    //-->
                    <!--facebook-feeds-->                     
                </aside>
                <aside class="copyright-section col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="logo pull-left">
                        <a href="index.html">
                            <img src="assets/images/logo/footer-logo.png" alt="logo" />
                        </a>
                    </div>
                    <ul>
                        <li>Copyright © ITC Group 2020.</li>
                        <li>All rights reserved.</li>
                        <li>Created by: 
                            <a href="#">NTPSams Technology</a>
                        </li>
                    </ul>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="https://facebook.com/itcgrouphaiti" class="fa fa-facebook" target="blank"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/itcgroupehaiti" class="fa fa-twitter" target="blank"></a>
                            </li>
                            <!--// <li><a href="#" class="fa fa-linkedin"></a></li> //-->
                            <li>
                                <a href="https://www.instagram.com/itcgrouphaiti" class="fa fa-instagram" target="blank"></a>
                            </li>
                        </ul>
                        <!--social-icons-->                         
                    </div>
                    <!--copyright-section-->                     
                </aside>
                <!--footer-->                 
            </div>
            <!--row-->             
        </div>
        <!--container-->         
    </div>
    <!--darkBlueBg-->     
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="assets/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="assets/js/bootstrap/bootstrap.js"></script>
<!-- Custom --> 
<script src="assets/js/custom.js"></script>
</body>
</html>