<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>ITC Group || Blog</title>
<link rel="icon" href="assets/images/logo/favicon.png" type="image/png">
<link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css" />

</head>
<body class="blog-post-page">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="SPV5FNQ3">
    </script>
<!--<div class="page-loader-wrapper page-loader-wrapper-1"> -->
		<!--<div class="loader">-->
			<!--<div class="stick1"></div>-->
			<!--<div class="stick2"></div>-->
			<!--<div class="stick3"></div>-->
			<!--<div class="stick4"></div>-->
        <!--&lt;!&ndash;loader&ndash;&gt;    -->
		<!--</div>-->
    <!--&lt;!&ndash;page-loader-wrapper&ndash;&gt;    -->
	<!--</div>-->
<!--=====================================--> 
<!--============ Navigation =============--> 
<!--=====================================-->
<div class="greyBg header-con col-lg-12 col-md-12 col-sm-12 col-xs-12" id="headerCon">
  <div class="container">
    <div class="row">
      <aside class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo pull-left"><a href="index.html"><img src="assets/images/logo/logo.png" alt="logo" /></a></div>
		<div class="clearfix showmb"></div>
        <nav class="navbar navbar-default pull-right">
          <div class="container-fluid">
            <div class="row"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!--navbar-header--> 
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="clearfix showmb"></div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="row">
                  <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="services.html">Services</a></li>

                    <li><a href="projects.html">Projects</a></li>
                      <li>
                          <a href="blogpost.html">Blogues</a>
                      </li>


                      <li>
                          <a href="contact.html">Contact</a>
                      </li>
                  </ul>
                  <!--row--> 
                </div>
                <!--collapse--> 
              </div>
              <!--row--> 
            </div>
            <!--container-fluid--> 
          </div>
          <!--navbar--> 
        </nav>
        <!--header--> 
      </aside>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--greyBg--> 
</div>
<!--=====================================--> 
<!--============== Banner ===============--> 
<!--=====================================-->
<div class="main-contentbox">
  <div class="sub-banner-con darkBlueBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="sub-banner-text darkBlueBg regular-font col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
              <h1>blog</h1>
              <p>Meet the CEO : Jean Samuel Jules</p>
            </div>
            <!--sub-banner-text--> 
          </div>
          <!--row--> 
        </div>
        <!--container--> 
      </div>
        <div class="sub-banner-img subbannerabout col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="assets/images/banners/about-banner.jpg">
        </div>
      <!--row--> 
    </div>
    <!--col-lg-12--> 
  </div>
  <!--===================================--> 
  <!--============== Blog ===============--> 
  <!--===================================-->
  <div class="paddingBox greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <!--//
          <form method="get" id="searchform" action="#">
            <div>
              <input type="text" value="Search..." name="s" id="s" />
              <button type="submit" id="searchsubmit" class="fa  fa-search"></button>
            </div>
          </form>
          //-->
          <aside class="sidebar catagories col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--//
            <div class="row">
              <h3>Services</h3>
              <ul class="regular-font">
                <li><a href="#">Financial Investment</a></li>
                <li><a href="#">Company Growth</a></li>
                <li><a href="#">Taxes and Accounting</a></li>
                <li><a href="#">Financial modeling and planning</a></li>
                <li><a href="#">Profits & Wealth</a></li>
                <li><a href="#">Investments in Bonds</a></li>
              </ul>
              --row-- 
            </div>
            --sidebar-- 
          </aside>
          
          <aside class="sidebar recent-posts col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <h3>Recent Posts</h3>
              <ul class="regular-font">
                <li>
                  <figure><img src="images/blog/recent-post-img1.jpg" alt="recent-post-img1" /></figure>
                  <p><span>Suspendisse</span>Gorem ipsum dolor sit...</p>
                  <a href="#">read more</a> </li>
                <li>
                  <figure><img src="images/blog/recent-post-img2.jpg" alt="recent-post-img1" /></figure>
                  <p><span>Suspendisse</span>Gorem ipsum dolor sit...</p>
                  <a href="#">read more</a> </li>
                <li>
                  <figure><img src="images/blog/recent-post-img3.jpg" alt="recent-post-img1" /></figure>
                  <p><span>Suspendisse</span>Gorem ipsum dolor sit...</p>
                  <a href="#">read more</a> </li>
              </ul>
              --row--
            </div>
            --sidebar--
          </aside>
          //-->
          <aside class="sidebar tags col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <h3>Experience</h3>
              <a href="#">Pixel Haïti</a> <a href="#">Atalou Micro System</a> <a href="#">Manutech INC</a> <a href="#">Digicel Haïti</a> <a href="#">Accesshaiti</a> <a href="#">Plaza Hotel</a> <a href="#">NTPSams -Technology & ITC-GROUP</a>
              <!--row-->
            </div>
            <!--sidebar-->
          </aside>
          <!--//
          <aside class="sidebar subscribe col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <h3>Subscribe</h3>
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" name="my-name" id="my-name" placeholder="Name:">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="my-email" name="my-email" placeholder="Email:">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              --row-- 
            </div>
            --sidebar--
          </aside>
          <aside class="sidebar meet-advisors col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <figure><img src="images/blog/blog-advisor-team.jpg" alt="blog-advisor-team" /></figure>
              <h3>Meet Our Advisor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
              <div class="blue-btn pull-left"><a href="#">contact</a></div>
              --row--
            </div>
            --sidebar-- 
          </aside>
          --col-lg-3-- 
          //-->
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <aside class="blog-post-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <figure class="post-img"> <img src="assets/images/blog/post-img1.jpg" alt="post-img1" /> <span class="date-tag semibold-font">12 <br>
                AUGUST 2020</span> 
                <!--post-img--> 
              </figure>
              <div class="blog-post-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="meta">
                  <!--//
                  <ul>
                    <li><i class="fa fa-user"></i> <a href="#">Admin </a>/</li>
                    <li><i class="fa fa-comment"></i> <a href="#">20 Comments </a>/</li>
                    <li><i class="fa fa-eye"></i> 155 Views</li>
                  </ul>
                  //-->
                  <!--meta--> 
                </div>
                <div class="social-icons">
                 <ul>
                <li><a href="https://web.facebook.com/jsjulessam/" class="fa fa-facebook"></a></li>
                <li><a href="https://twitter.com/jsjulessam" class="fa fa-twitter"></a></li>
                <!--// <li><a href="#" class="fa fa-instagram"></a></li> //-->
              </ul>
                  <!--social-icons--> 
                </div>
                <div class="blog-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h3>Jean Samuel JULES’s Biography </h3>
                  <p>JEAN SAMUEL JULES, S.E. SYSTEM ENGINEER
                      CEO. CHIEF EXECUTIVE OFFICER.
                      <br>NTPSAMS-TECHNOLOGY & ITCGROUP Education:
                      <br>§ 4 Years of Studies in the field of Computer Sciences at University of INUQUA 
                      <br>§ 1 Year of Master in the specialization of Network and Telecommunication the field of Computer Sciences at University of CREFIMA) (Licence in Computer Sciences / INUQUA / CREFIMA)
                      <br>§ Has attended several seminaries on self performance for Certifications in specific fields such as:  Networking, Telecom, Entrepreneurship, Law of work, Project Management and Programming Systems at ESIH, AUF, INUQUA, UNIQ, PACT respectively.(Certificates/ESIH( Ecole Superieur en Informatique d’Haiti, INUQUA(Institut Universitaire Quisqueya D'AMÉRIQUE), AUF(Agence Universitaire Francophone), UNIQ (Universite Quisqueya), CPLA (Cabinet Patrick Laurent) PACT (Progress & Accelerated Change Through Technology))
                      <br><br>Affiliations 
                      <br>§ Member of AHTIC (L’Association Haïtienne pour les Technologies de l’Information et de la Communication). 
                      Summary:
                      <br>§ Has worked as an IT Consultant and Sales Engineering for the past 10 years always available and passionate in bringing the assistance needed to his Customers and Enterprises like; NGOs, UN locally and Internationally as well as the general population in these specific lists of services. 
                      <br>For more information please follow these links:
                      (http://www.ntpsams.com https://itcgrouphaiti.com/blog  
                      <br><br>Experience: 
                      <br>- Pixel Haïti, IT Technicien, in the Cabling System for Both Building Hainet at Darguin Street, Petion-Ville.
                      <br>- Manutech INC, IT Consultant for the Local and International Company Managing the servers and taking care of the maintenance in the help desk department.
                      <br>- Digicel Haïti, CCTECH Agent in Help Desk Department.
                      <br>- Accesshaiti, IT Assistant IN NOC Department.
                      <br>- PLAZA HOTEL, IT Consultant, Translator, Driver and Logistic Supervisor in Chef for the Hotel and the CNN Staff Journalist. Since The earthquake.
                      <br>- ATALOU Micro System, Sales and System Engineer Manager and Marketing Agent. Etc…
                      <br>- NTPSAMS-TECHNOLOGY & ITCGROUP, CEO since 2011. </p>
                  <!--blog-text--> 
                </div>
                <!--blog-post-info--> 
              </div>
              <!--row--> 
            </div>
            <!--blog-post-box--> 
          </aside>

        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>
  <!--main-contentbox--> 
</div>



    <!--=====================================-->

    <!--============== Footer ===============-->

    <!--=====================================-->

    <div class="darkBlueBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="container">

            <div class="row">

                <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <aside class="newsletter col-lg-4 col-md-4 col-sm-12 col-xs-12">

                        <h5>newsletter</h5>

                        <div class="form-group pull-left">

                            <input type="email" class="form-control" placeholder="Enter your email" name="letter-email" id="letter-email">

                        </div>

                        <button type="submit" class="btn btn-default pull-left">Go</button>

                        <div class="clearfix"></div>

                        <ul>

                            <li><i class="fa fa-map-marker"></i> 17, Plaza 41, rue Lamarre, Pétion-Ville,</li>

                            <li><i class="fa fa-phone"></i> +509 3711.5990</li>

                            <li><i class="fa fa-envelope"></i> <a href="mailto:info@fcgroup.com">info@fcgroup.com</a></li>

                        </ul>

                        <!--newsletter-->

                    </aside>

                    <aside class="sitemap col-lg-2 col-md-3 col-sm-6 col-xs-12">

                        <h5>partnership</h5>

                        <ul>

                            <li><a href="#">NTPsams Technology</a></li>

                            <li><a href="#">Rapahel Tech</a></li>

                            <li><a href="#">ITC call center</a></li>

                            <li><a href="#">Sam fotografi</a></li>

                            <li><a href="#">Event pa'm</a></li>

                        </ul>

                        <!--sitemap-->

                    </aside>

                    <aside class="twitter-feeds col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <h5>Facebook Feeds</h5>

                        <ul>

                            <li><i class="fa fa-facebook"></i> <a href="#">Jean Samuel Jules CEO at www.ntpsams.com and developer Lionel W. Andre Pierreonel from jacmel at Haitinumerique conference ...

                                <span class="tweet-link">https://facebook.com/itcgrouphaiti</span>

                                <span class="tweet-date">October , 18, 2017</span></a></li>

                            <li><i class="fa fa-facebook"></i> <a href="#">Go confidently in the direction of your dreams. Live the life you've imagined ...

                                <span class="tweet-link">https://facebook.com/itcgrouphaiti</span>

                                <span class="tweet-date">May , 14, 2014</span></a></li>

                        </ul>

                        <!--twitter-feeds-->

                    </aside>

                    <aside class="copyright-section col-lg-3 col-md-3 col-sm-12 col-xs-12">

                        <div class="logo pull-left"><a href="index.html"><img src="assets/images/logo/footer-logo.png" alt="logo" /></a></div>

                        <ul>

                            <li>Copyright © FC Group 2020.</li>

                            <li>All rights reserved.</li>

                            <li>Created by: <a href="#">Wilck Connect</a></li>

                        </ul>

                        <div class="social-icons">

                            <ul>

                                <li><a href="https://facebook.com/itcgrouphaiti" class="fa fa-facebook" target="blank"></a></li>

                                <li><a href="https://twitter.com/itcgrouphaiti" class="fa fa-twitter" target="blank"></a></li>

                                <!--// <li><a href="#" class="fa fa-linkedin"></a></li> //-->

                                <li><a href="https://www.instagram.com/itcgrouphaiti" class="fa fa-google-plus" target="blank"></a></li>

                            </ul>

                            <!--social-icons-->

                        </div>

                        <!--copyright-section-->

                    </aside>

                    <!--footer-->

                </div>

                <!--row-->

            </div>

            <!--container-->

        </div>

        <!--darkBlueBg-->

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="assets/js/jquery-1.12.3.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="assets/js/bootstrap/bootstrap.js"></script>

    <!-- Filter gallery -->

    <script src="assets/js/projects/isotope.js"></script>

    <!-- Custom -->

    <script src="assets/js/custom.js"></script>

</body>

</html>