<!doctype html> 
<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta name="viewport" content="width=device-width,initial-scale=1"> 
        <title>ITC Group || Official website</title>         
        <link rel="icon" href="assets/images/logo/favicon.png" type="image/png">
        <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css" />

    </head> 

    
    <body class="home-page"> 
       <!-- <div class="page-loader-wrapper page-loader-wrapper-1">
            <div class="loader"> 
                <div class="stick1"></div>                 
                <div class="stick2"></div>                 
                <div class="stick3"></div>                 
                <div class="stick4"></div>                 
                &lt;!&ndash;loader&ndash;&gt;
            </div>             
            &lt;!&ndash;page-loader-wrapper&ndash;&gt;
        </div>         -->
        <!--=====================================-->         
        <!--============== Banner ===============-->         
        <!--=====================================-->         



       <div id="carousel-example-generic" class="carousel slide colorback" data-ride="carousel" >

           <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox">
               <div class="item active">
                   <div  class="pull-right">
                       <img src="assets/images/banners/home-banner.jpg" class="imgbanner"/>
                   </div>

                   <div class="viewlogoimg">
                       <img src="assets/images/logo/small-logo.png" class="pull-left imglogo"  alt="small-logo" />
                   </div>


                   <div class="carousel-caption img_carousel">
                       <h1>Strong Together For Better Results</h1>
                       <p>We are ITC Group : Information Technology And Communication. We are here to make your dreams come true.</p>
                       <div class="banner-btn transparent-btn">
                           <a href="contact.html">Contact Us Now</a>
                       </div>
                   </div>
               </div>


               <div class="item">
                   <div  class="pull-right">
                       <img src="assets/images/banners/home-banner2.jpg"  class="imgbanner"/>
                   </div>

                   <div class="viewlogoimg">
                       <img src="assets/images/logo/small-logo.png" class="pull-left imglogo"  alt="small-logo" />
                   </div>

                   <div class="carousel-caption img_carousel">
                       <h1>Strong Together For Better  2</h1>
                       <p>We are ITC Group : Information Technology And Communication. We are here to make your dreams come true.</p>
                       <div class="banner-btn transparent-btn">
                           <a href="contact.html">Contact Us Now</a>
                       </div>
                   </div>
               </div>


           </div>

           <div class="explore-services BlueBg semibold-font" id="explore">Explore the
               services
               <figure class="bounce">
                   <img src="assets/images/logo/arrow-down.png" alt="arrow" />
               </figure>
               <!--explore-services-->
           </div>
       </div>








        <!--=====================================-->         
        <!--============ Navigation =============-->         
        <!--=====================================-->         
        <div class="greyBg header-con col-lg-12 col-md-12 col-sm-12 col-xs-12" id="headerCon"> 
            <div class="container"> 
                <div class="row"> 
                    <aside class="header col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                        <div class="logo pull-left">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="logo" />
                            </a>
                        </div>                         
                        <div class="clearfix showmb"></div>                         
                        <nav class="navbar navbar-default pull-right"> 
                            <div class="container-fluid"> 
                                <div class="row"> 
                                    <!-- Brand and toggle get grouped for better mobile display -->                                     
                                    <div class="navbar-header"> 
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                                            <span class="sr-only">Toggle navigation</span> 
                                            <span class="icon-bar"></span> 
                                            <span class="icon-bar"></span> 
                                            <span class="icon-bar"></span> 
                                        </button>                                         
                                        <!--navbar-header-->                                         
                                    </div>                                     
                                    <!-- Collect the nav links, forms, and other content for toggling -->                                     
                                    <div class="clearfix showmb"></div>                                     
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                                        <div class="row"> 
                                            <ul class="nav navbar-nav"> 
                                                <li class="active">
                                                    <a href="index.html">Home</a>
                                                </li>                                                 
                                                <li>
                                                    <a href="about.html">About us</a>
                                                </li>                                                 
                                                <li>
                                                    <a href="services.html">Services</a>
                                                </li>                                                 
                                                <li>
                                                    <a href="projects.html">Projects</a>
                                                </li>

                                                <li>
                                                    <a href="blogpost.html">Blogues</a>
                                                </li>


                                                <li>
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                            </ul>                                             
                                            <!--row-->                                             
                                        </div>                                         
                                        <!--collapse-->                                         
                                    </div>                                     
                                    <!--row-->                                     
                                </div>                                 
                                <!--container-fluid-->                                 
                            </div>                             
                            <!--navbar-->                             
                        </nav>                         
                        <!--header-->                         
                    </aside>                     
                    <!--row-->                     
                </div>                 
                <!--container-->                 
            </div>             
            <!--greyBg-->             
        </div>         
        <div class="main-contentbox"> 
            <!--===============================================-->             
            <!--========= We offer Different Services =========-->             
            <!--===============================================-->             
            <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                <div class="container"> 
                    <div class="row text-center"> 
                        <h2 class="black-font">We offer Different Services</h2> 
                        <p class="regular-font">We have the service you need, with international quality.</p> 
                        <div class="spacer"></div>                         
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down"> 
                            <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <div> 
                                    <figure data-effect="pop">
                                        <img src="assets/images/icons/invest-img.png" alt="invest-img" />
                                    </figure>                                     
                                    <h4 class="black-color">installation</h4> 
                                    <div class="services-info-con"> 
                                        <div class="services-info"> 
                                            <div class="services-infoBox"> 
                                                <div> 
                                                    <figure>
                                                        <img src="assets/images/icons/invest-imgHover.png" alt="invest-imgHover" />
                                                    </figure>                                                     
                                                    <h4 class="white-color">installation</h4> 
                                                    <p class="regular-font">Energy system: solar panel, inverter and others</p> 
                                                    <div class="transparent-btn btn1">
                                                        <a href="contact.html">Contact</a>
                                                    </div>                                                     
                                                </div>                                                 
                                                <!--services-infoBox-->                                                 
                                            </div>                                             
                                            <!--services-info-->                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <!--services-box-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </div>                         
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down"> 
                            <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <div> 
                                    <figure data-effect="pop">
                                        <img src="assets/images/icons/funds-img.png" alt="funds-img" />
                                    </figure>                                     
                                    <h4 class="black-color">Web development</h4> 
                                    <div class="services-info-con"> 
                                        <div class="services-info"> 
                                            <div class="services-infoBox"> 
                                                <div> 
                                                    <figure>
                                                        <img src="assets/images/icons/funds-imgHover.png" alt="funds-imgHover" />
                                                    </figure>                                                     
                                                    <h4 class="white-color">Web development</h4> 
                                                    <p class="regular-font">Computer system development such as: platform, website etc.</p> 
                                                    <div class="transparent-btn btn1">
                                                        <a href="contact.html">Contact</a>
                                                    </div>                                                     
                                                </div>                                                 
                                                <!--services-infoBox-->                                                 
                                            </div>                                             
                                            <!--services-info-->                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <!--services-box-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </div>                         
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down"> 
                            <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <div> 
                                    <figure data-effect="pop">
                                        <img src="assets/images/icons/saving-img.png" alt="saving-img" />
                                    </figure>                                     
                                    <h4 class="black-color">Telecommunication</h4> 
                                    <div class="services-info-con"> 
                                        <div class="services-info"> 
                                            <div class="services-infoBox"> 
                                                <div> 
                                                    <figure>
                                                        <img src="assets/images/icons/saving-imgHover.png" alt="saving-imgHover" />
                                                    </figure>                                                     
                                                    <h4 class="white-color">Telecommunication</h4> 
                                                    <p class="regular-font">Network system, server, wireless, cabling etc.</p> 
                                                    <div class="transparent-btn btn1">
                                                        <a href="contact.html">Contact</a>
                                                    </div>                                                     
                                                </div>                                                 
                                                <!--services-infoBox-->                                                 
                                            </div>                                             
                                            <!--services-info-->                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <!--services-box-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </div>                         
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down"> 
                            <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <div> 
                                    <figure data-effect="pop">
                                        <img src="assets/images/icons/retirement-img.png" alt="retirement-img" />
                                    </figure>                                     
                                    <h4 class="black-color">Security</h4> 
                                    <div class="services-info-con"> 
                                        <div class="services-info"> 
                                            <div class="services-infoBox"> 
                                                <div> 
                                                    <figure>
                                                        <img src="assets/images/icons/retirement-imgHover.png" alt="retirement-imgHover" />
                                                    </figure>                                                     
                                                    <h4 class="white-color">Security</h4> 
                                                    <p class="regular-font">Telesurveillance system, camera, alarm and others.</p> 
                                                    <div class="transparent-btn btn1">
                                                        <a href="contact.html">Contact</a>
                                                    </div>                                                     
                                                </div>                                                 
                                                <!--services-infoBox-->                                                 
                                            </div>                                             
                                            <!--services-info-->                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <!--services-box-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </div>                         
                        <!--row-->                         
                    </div>                     
                    <!--container-->                     
                </div>                 
                <!--paddingBox-->                 
            </div>             
            <!--=====================================-->             
            <!--============ Who We Are =============-->             
            <!--=====================================-->             
            <div class="pattern col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #000000">
                <div class="container" style="background-color: #000000">
                    <div class="row">
                        <div class="who-we-are pull-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div>
                                <h2>Who We Are</h2>
                                <p>We are a progressive group. Evolving in several fields such as IT. We are here to offer you quality and standard services.</p>
                                <p>Contact Us today. </p>
                                <div class="transparent-btn pull-left">
                                    <a href="contact.html">Join Now</a>
                                </div>                                 
                            </div>                             
                            <!--who-we-are-->                             
                        </div>                         
                        <!--row-->                         
                    </div>

                    <div class="who-we-are-img">
                        <img src="assets/images/logo/who-we-are-img.png" alt="who-we-are-img" />
                    </div>

                    <!--container-->
                </div>

                <!--pattern-->                 
            </div>             
            <!--====================================-->             
            <!--========= Business Meeting =========-->             
            <!--====================================-->             
            <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                <div class="container"> 
                    <div class="row"> 
                        <div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
                            <div class="logo-background"> 
                                <figure class="business-meeting-img">
                                    <img src="assets/images/logo/business-meeting.png" alt="business-meeting" />
                                </figure>                                 
                                <!--logo-background-->                                 
                            </div>                             
                            <!--text-center-->                             
                        </div>                         
                        <div class="business-box col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
                            <h1 class="light-blue-color">Bringing new look to your business!</h1> 
                            <h2 class="black-font">WE Helping small business</h2> 
                            <p>We have packages for successful businesses. Go ahead and make you known everywhere. Find your needs among our services. </p> 
                            <p class="blue-color regular-font">Trust us. We are the ideal partner to help you grow well and quickly. Join us now for services such as:</p> 
                            <ul> 
                                <li>Web development. </li>                                 
                                <li>Equipments. </li>                                 
                                <li>Security. </li>                                 
                                <li>Guidance. </li>                                 
                            </ul>                             
                            <div class="transparent-btn pull-left">
                                <a href="contact.html">Contact Us</a>
                            </div>                             
                            <!--business-box-->                             
                        </div>                         
                        <!--row-->                         
                    </div>                     
                    <!--container-->                     
                </div>                 
                <!--paddingBox-->                 
            </div>             
            <!--main-contentbox-->             
        </div>         
        <!--=====================================-->         
        <!--========= Bringing new look =========-->         
        <!--=====================================-->         
        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <div class="row"> 
                <aside class="business-imagebox col-lg-4 col-md-4 col-sm-7 col-xs-12 "> 
                    <div class="row"> 
                        <figure>
                            <img alt="business-quality" src="assets/images/logo/business-quality.jpg">
                        </figure>                         
                        <h3 class="caption-heading">quality</h3> 
                        <div class="caption"> 
                            <div class="caption-text"> 
                                <h3>quality</h3> 
                                <p class="regular-font">We provide quality services, of an international standard. Our work is carried out with perfect measurements.</p> 
                                <!-- // <div class="transparent-btn"><a href="#">Read More</a></div> //-->                                 
                                <!-- caption-text-->                                 
                            </div>                             
                            <!--caption-->                             
                        </div>                         
                        <!--row-->                         
                    </div>                     
                    <!--business-imagebox-->                     
                </aside>                 
                <aside class="business-imagebox col-lg-4 col-md-4 col-sm-7 col-xs-12 "> 
                    <div class="row"> 
                        <figure>
                            <img alt="commitment" src="assets/images/logo/commitment.jpg">
                        </figure>                         
                        <h3 class="caption-heading">commitment</h3> 
                        <div class="caption"> 
                            <div class="caption-text"> 
                                <h3>commitment</h3> 
                                <p class="regular-font">We take your projects to heart. We respect our commitments and work quickly. You can count on us.</p> 
                                <!-- // <div class="transparent-btn"><a href="#">Read More</a></div> //-->                                 
                                <!-- caption-text-->                                 
                            </div>                             
                            <!-- caption-->                             
                        </div>                         
                        <!--row-->                         
                    </div>                     
                    <!--business-imagebox-->                     
                </aside>                 
                <aside class="business-imagebox col-lg-4 col-md-4 col-sm-7 col-xs-12 "> 
                    <div class="row"> 
                        <figure>
                            <img alt="business-success" src="assets/images/logo/business-success.jpg">
                        </figure>                         
                        <h3 class="caption-heading">swiftness</h3> 
                        <div class="caption"> 
                            <div class="caption-text"> 
                                <h3>swiftness</h3> 
                                <p class="regular-font">Quick result? it's us. Our services are offered within short periods, to save you time.</p> 
                                <!-- // <div class="transparent-btn"><a href="#">Read More</a></div> //-->                                 
                                <!--caption-text-->                                 
                            </div>                             
                            <!--caption-->                             
                        </div>                         
                        <!--row-->                         
                    </div>                     
                    <!--business-imagebox-->                     
                </aside>                 
                <!--row-->                 
            </div>             
            <!--text-center-->             
        </div>         
        <!--=====================================-->         
        <!--============= Skill Level ===========-->         
        <!--=====================================-->
        <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="numeric logo-background stat-count pull-left bold-font">8</div>
                            <h4 class="black-color pull-left"><span>Years of <br>
                            Experiences</span></h4>
                            <!--skill-level-->                             
                        </aside>
                        <!--col-lg-3-->                         
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="numeric stat-count logo-background pull-left bold-font">90</div>
                            <h4 class="black-color pull-left"><span>Happy<br>
                            Customers</span></h4>
                            <!--skill-level-->                             
                        </aside>
                        <!--col-lg-3-->                         
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="numeric stat-count logo-background pull-left bold-font">9</div>
                            <h4 class="black-color pull-left"><span>customers<br>
                            every years</span></h4>
                            <!--skill-level-->                             
                        </aside>
                        <!--col-lg-3-->                         
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="numeric stat-count logo-background pull-left bold-font">12</div>
                            <h4 class="black-color pull-left"><span>affiliate<br>
                            Partnership</span></h4>
                            <!--skill-level-->                             
                        </aside>
                        <!--col-lg-3-->                         
                    </div>
                    <!--row-->                     
                </div>
                <!--container-->                 
            </div>
            <!--paddingBox-->             
        </div>
        <!--main-contentbox-->         
    </div>



































       <!--=====================================-->
    <!--============== Partners =============-->     
    <!--=====================================-->     
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
        <div class="container"> 
            <div class="row"> 
                <aside class="paddingBox border-top col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                    <div class="partner-heading col-lg-2 col-md-2 col-sm-12 col-xs-12">Our 
                        <br> 
                        <span class="light-font">Business</span>
                        <br> 
                        Partners 
                        <!--partner-heading-->                         
                    </div>                     
                    <div class="partners col-lg-10 col-md-12 col-sm-12 col-xs-12">

                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#"> 
                                        <img src="assets/images/partners/partner-logo1.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>


                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo2.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>


                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo3.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>


                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo4.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>                         
                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo5.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>                         
                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo6.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>                         
                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo7.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>                         
                        <aside class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                            <div class="partner-logos col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <span> <a href="#">
                                        <img src="assets/images/partners/partner-logo8.png" alt="" />
                                    </a> </span> 
                                <!--partner-logos-->                                 
                            </div>                             
                            <!--col-lg-3-->                             
                        </aside>                         
                        <!--partners-->                         
                    </div>                     
                    <!--paddingBox-->                     
                </aside>                 
                <!--row-->                 
            </div>             
            <!--container-->             
        </div>         
        <!--col-lg-12-->         
    </div>     
    <!--main-contentbox-->     
</div> 


<!--=====================================--> 
<!--============== Footer ===============--> 
<!--=====================================-->
<div class="darkBlueBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="row">
            <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <aside class="newsletter col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h5>newsletter</h5>
                    <div class="form-group pull-left">
                        <input type="email" class="form-control" placeholder="Enter your email" name="letter-email" id="letter-email">
                    </div>
                    <button type="submit" class="btn btn-default pull-left">Go</button>
                    <div class="clearfix"></div>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i> 17, Plaza 41, rue Lamarre, Pétion-Ville,
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> +509 3711.5990
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> 
                            <a href="mailto:info@fcgroup.com">info@fcgroup.com</a>
                        </li>
                    </ul>
                    <!--newsletter-->                     
                </aside>
                <aside class="sitemap col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <h5>partnership</h5>
                    <ul>
                        <li>
                            <a href="#">NTPsams Technology</a>
                        </li>
                        <li>
                            <a href="#">Rapahel Tech</a>
                        </li>
                        <li>
                            <a href="#">ITC call center</a>
                        </li>
                        <li>
                            <a href="#">Sam fotografi</a>
                        </li>
                        <li>
                            <a href="#">Event pa'm</a>
                        </li>
                    </ul>
                    <!--sitemap-->                     
                </aside>
                <aside class="twitter-feeds col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>Facebook Feeds</h5>
                    <ul>
                        <li>
                            <i class="fa fa-facebook"></i> 
                            <a href="#">Jean Samuel Jules CEO at www.ntpsams.com and developer Lionel W. Andre Pierreonel from jacmel at Haitinumerique conference ...<span class="tweet-link">https://facebook.com/itcgrouphaiti</span><span class="tweet-date">October , 18, 2017</span></a>
                        </li>
                        <li>
                            <i class="fa fa-facebook"></i> 
                            <a href="#">Go confidently in the direction of your dreams. Live the life you've imagined ...<span class="tweet-link">https://facebook.com/itcgrouphaiti</span><span class="tweet-date">May , 14, 2014</span></a>
                        </li>
                    </ul>
                    <!--twitter-feeds-->                     
                </aside>
                <aside class="copyright-section col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="logo pull-left">
                        <a href="index.html">
                            <img src="assets/images/logo/footer-logo.png" alt="logo" />
                        </a>
                    </div>
                    <ul>
                        <li>Copyright © FC Group 2020.</li>
                        <li>All rights reserved.</li>
                        <li>Created by: 
                            <a href="#">Wilck Connect</a>
                        </li>
                    </ul>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="https://facebook.com/itcgrouphaiti" class="fa fa-facebook" target="blank"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/itcgrouphaiti" class="fa fa-twitter" target="blank"></a>
                            </li>
                            <!--// <li><a href="#" class="fa fa-linkedin"></a></li> //-->
                            <li>
                                <a href="https://www.instagram.com/itcgrouphaiti" class="fa fa-google-plus" target="blank"></a>
                            </li>
                        </ul>
                        <!--social-icons-->                         
                    </div>
                    <!--copyright-section-->                     
                </aside>
                <!--footer-->                 
            </div>
            <!--row-->             
        </div>
        <!--container-->         
    </div>
    <!--darkBlueBg-->     
</div> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="assets/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="assets/js/bootstrap/bootstrap.js"></script>
<!-- Counter --> 
<script src="assets/js/counter/counter.js"></script>
<!-- Owl Carousel --> 
<script src="assets/owl-carousel/js/owl.carousel.js"></script>
<!-- LAZY EFFECTS Scripts --> 
<script type="text/javascript" src="assets/js/jquery.unveilEffects.js"></script>
<!-- Custom Scripts --> 
<script src="assets/js/custom.js"></script>
